@import 'palette'

/* block colors */
footer-background-color = gray-background

/* footer */
.footer
  background footer-background-color
  font-style italic
  padding 10px 5px 5px 5px
  text-align center
  width 100%