@import 'palette'

/* block colors */
header-background-color = primary-color
header-border-color = gray-color
 
/* font colors */
header-symbol-color = primary-color-darker
header-hover-color = primary-color-darkest

/* header */
.header
  align-items center
  background header-background-color
  border-bottom 2px solid header-border-color
  display flex
  height header-height
  flex-flow row nowrap
  justify-content space-between
  min-width: min-page-width
  position fixed
  top 0
  width 100%
  z-index 2

.logo
  height 100%
  max-height 100%
  padding-left 10px
  img
    border 2px solid header-background-color
    border-radius 50%
    max-height 100%

.logo-link
  display block
  height 100%
  text-decoration none
  > .header-title
    color header-symbol-color
  &:hover > .header-title
    color header-hover-color

.header-title
  font-size 2rem
  margin 0
  padding-left 5px

/* menu icon */
.menu-icon
  background transparent
  border none
  cursor pointer
  display block
  height 48px
  position relative
  overflow hidden
  text-indent 10000px
  width 40px
  white-space nowrap
  &::before
    background header-symbol-color
    box-shadow 0 10px 0 header-symbol-color
    content ''
    height 5px
    left 15%
    position absolute
    top 11.5px
    transition all .15s ease-in-out
    width 70%
  &::after
    background header-symbol-color
    bottom 11.5px
    content ''
    height 5px
    left 15%
    position absolute
    transition all .15s ease-in-out
    width 70%
  &:hover
    &::before
      background header-hover-color
      box-shadow 0 10px 0 header-hover-color
    &::after
      background header-hover-color
  &.sidebar-open::before
    box-shadow none
    height 4px
    top 50%
    transform translateY(-50%) rotate(-45deg)
  &.sidebar-open::after
    bottom 50%
    height 4px
    transform translateY(50%) rotate(45deg)

/* media */
@media all and (min-width 1200px)
  .menu-icon
    display none