@import 'palette'

/* block colors */
header-background-color = primary-color
header-border-color = gray-color
 
/* font colors */
header-symbol-color = primary-color-darker
header-hover-color = primary-color-darkest

/* header */
.header
  align-items center
  background header-background-color
  border-bottom .2rem solid header-border-color
  display flex
  height header-height
  flex-flow row nowrap
  justify-content space-between
  min-width: min-page-width
  padding 0 .8rem
  position fixed
  top 0
  width 100%
  z-index 2

.logo
  height 100%
  max-height 100%
  img
    border .2rem solid header-background-color
    border-radius 50%
    max-height 100%

.logo-link
  display block
  height 100%
  text-decoration none
  > .header-title
    color header-symbol-color
  &:hover > .header-title
    color header-hover-color

.header-title
  font-size 2rem
  margin 0
  padding-left .5rem

/* menu icon */
.menu-button
  font-size 3.6rem
  background transparent
  border none
  cursor pointer
  display block
  padding 0
  
  .menu-icon
    display block
    height 1em
    position relative
    overflow hidden
    text-indent 1000rem
    width 1.1em
    white-space nowrap
    &::before
      background header-symbol-color
      box-shadow 0 .375em 0 header-symbol-color
      content ''
      left 0
      height .25em
      position absolute
      top 0
      transition all .15s ease-in-out
      width 100%
    &::after
      background header-symbol-color
      bottom 0
      content ''
      height .25em
      left 0
      position absolute
      transition all .15s ease-in-out
      width 100%
    &:hover
      &::before
        background header-hover-color
        box-shadow 0 .375em 0 header-hover-color
      &::after
        background header-hover-color
    ^[0].sidebar-open ^[1..1]::before
      box-shadow none
      top 50%
      transform translateY(-50%) rotate(-45deg)
    ^[0].sidebar-open ^[1..1]::after
      bottom 50%
      transform translateY(50%) rotate(45deg)

/* media */
@media all and (min-width 75em)
  .menu-button
    display none