@import palette

panel-padding = 1rem

.home-header
  align-items center
  background secondary-color-darker
  display grid
  gap panel-padding
  grid auto-flow min-content / 1fr
  justify-items center
  padding panel-padding * 2
  position relative
  min-height 65rem
  &.home-background
    background-position center top
    background-repeat no-repeat
  .home-panel
    background primary-color
    border none
    border-radius .5rem
    box-shadow none
    padding panel-padding * 2

.home-header-portrait
  img
    border .5rem solid primary-color
    border-radius 50%
    max-width 50rem
    width 100%
  
.home-panel-title
  margin 0

.home-panel-desc
  font-size 2rem
  margin 0

.home-panels
  display grid
  gap panel-padding
  grid auto-flow 1fr / 1fr
  list-style none
  padding 0 panel-padding

.home-panel
  border .3rem solid primary-color-dark
  box-shadow .3rem .3rem .3rem gray-color

.home-panel-link
  background primary-color-lightest
  display block
  color inherit
  height 100%
  padding 2*panel-padding panel-padding
  text-decoration none
  transition .15s all ease-in-out
  &:hover
    background primary-color-lighter

.home-panel-title
  font-size 3.6rem

.home-panel-desc
  font-size 2rem

@media all and (min-width 50em)
  .home-header
    grid auto-flow 1fr / 1fr 1fr
    /*.home-panel-title
      font-size 2.5em*/

  .home-header-portrait
    justify-self end

  .home-panels
    grid auto-flow 1fr / 1fr 1fr 1fr

@media all and (min-width 75em)
  .home-panels
    padding 0
  
  /*.home-panel-desc
    font-size 1.8rem*/

@media all and (max-height 40em)
  .home-header
    height initial
    min-height 'calc(100vh - %s)' % header-height