@import palette

/* colors */
header-background-color = secondary-color-darker
header-content-color = primary-color
panel-border-color = primary-color-dark
panel-background-color = primary-color-lightest
panel-background-color-hover = primary-color-lighter
shadow-color = gray-color-darker

/* sizes */
panel-padding = 1rem

.home-header
  align-items center
  background header-background-color
  display grid
  gap panel-padding
  grid auto-flow min-content / 1fr
  justify-items center
  padding panel-padding * 2
  position relative
  min-height 65rem
  &.home-background
    background-position center top
    background-repeat no-repeat
  .home-panel
    background header-content-color
    border none
    box-shadow none
    padding panel-padding * 2

.home-header-portrait
  img
    border .5rem solid header-content-color
    border-radius 50%
    max-width 50rem
    width 100%

.home-panels
  display grid
  gap panel-padding
  grid auto-flow 1fr / 1fr
  list-style none
  padding 0 panel-padding

.home-panel
  border .3rem solid panel-border-color
  border-radius corner-radius
  box-shadow .3rem .3rem .3rem shadow-color
  overflow hidden

.home-panel-link
  background panel-background-color
  display block
  color inherit
  height 100%
  padding 2*panel-padding panel-padding
  text-decoration none
  transition .15s all ease-in-out
  &:hover
    background primary-color-lighter

.home-panel-title
  font-size 3.6rem
  margin 0
  text-align center

.home-panel-desc
  font-size 2rem
  margin 0
  text-align center

@media all and (min-width 50em)
  .home-header
    grid auto-flow 1fr / 1fr 1fr

  .home-header-portrait
    justify-self end

  .home-panels
    grid auto-flow 1fr / 1fr 1fr 1fr

@media all and (min-width 75em)
  .home-panels
    padding 0

@media all and (max-height 40em)
  .home-header
    height initial
    min-height 'calc(100vh - %s)' % header-height