@import 'palette'

html
body
  box-sizing border-box
  color black-color
  font 18px/1.5 sans-font, sans-serif
  margin 0
  min-width min-page-width
  padding 0

*
  box-sizing inherit

.page
  background white-color
  padding-top header-height

/* media */
@media all and (min-width 600px)
  html
    font-size 19px

@media all and (min-width 800px)
  html
    font-size 20px

@media all and (min-width 1000px)
  html
    font-size 22px