@import 'palette'

html
body
  box-sizing border-box
  color black-font
  font-family sans-font, sans-serif
  font-size 18px
  margin 0
  min-width min-page-width
  padding 0

*
  box-sizing inherit

.page
  background white-background
  padding-top header-height

/* media */
@media all and (min-width 600px)
  html
    font-size 19px

@media all and (min-width 800px)
  html
    font-size 20px

@media all and (min-width 1000px)
  html
    font-size 22px