/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Space+Mono');

:root {
  /* Background Colors */
  --white-background: rgb(251, 252, 252);
  --gray-background: rgba(0,0,0,0.10);
  --green-background: rgb(26, 188, 156);
  --light-green-background: rgb(230, 255, 247);

  /* Font Colors */
  --black-font: rgb(26, 26, 26);
  --lighter-green-font: rgb(19, 141, 117);
  --light-green-font: rgb(19, 141, 117);
  --green-font: rgb(14, 106, 88);
  --dark-green-font: rgb(7, 53, 44);
  --darker-green-font: rgb(2, 18, 15);

  /*Fonts*/
  --sans-font: 'Source Sans Pro';
  --mono-font: 'Space Mono';
}


/* Baseline Styles */
html, body {
  box-sizing: border-box;
  color: var(--black-font);
  font-family: var(--sans-font), sans-serif;
  font-size: 18px;
  margin: 0;
  min-width: 300px;
  padding: 0;
}

* {
  box-sizing: inherit;
}

/* Page */
.page {
  background: var(--white-background);
  padding-top: var(--header-height);
}

/* Footer */

