@import 'palette'

html
body
  box-sizing border-box
  color black-font
  font-family sans-font, sans-serif
  font-size 20px
  margin 0
  min-width min-page-width
  padding 0

*
  box-sizing inherit

.page
  background white-background
  padding-top header-height