/* Variables */

.main {
  /*Block colors*/
  --content-code-color: var(--gray-background);
  --content-table-color1: var(--light-gray-background);
  --content-table-color2: var(--gray-background);

  /*Font colors*/
  --content-color: var(--light-green-font);
  --content-dark-color: var(--green-font);

  /*Fonts*/
  --content-code-font: var(--mono-font);
}

/* Main */

.main-wrapper {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  min-height: calc(100vh - var(--header-height));
  position: relative;
  transition: all .25s ease-in-out;
}

.main {
  flex: 1;
  max-width: 100%;
  width: 800px;
}

/* Content */
.content {
  font-size: 1rem;
  padding: 5px 15px;
  max-width: 800px;
  width: 100%;
}

.content h1 {
  font-size: 2em;
  margin: 0 0 10px 0;
}

.content h2 {
  font-size: 1.6em;
  margin: 0 0 5px 0;
}

.content h3 {
  font-size: 1.2em;
  margin: 0 0 2px 0;
}

.content h4 {
  font-size: 1em;
  margin: 0;
}

.content h5 {
  font-size: 1em;
  margin: 0;
}

.content h6 {
  font-size: 1em;
  margin: 0;
}

.content p {
  margin: 0 0 5px 10px;
}

.content a {
  color: var(--content-color);
}

.content a:hover {
  color: var(--content-dark-color);
  text-decoration: none;
}

.content b, .content strong {
  font-weight: 600;
}

.content blockquote {
  font-style: italic;
}

.content img {
  display: block;
  margin: auto;
  max-width: 100%;
}

.content code {
  background: var(--content-code-color);
  border-radius: 5px;
  display: block;
  font-family: var(--content-code-font), monospace;
  overflow-x: auto;
  padding: 10px;
}

.content p code {
  display: inline-block;
  padding: 0 3px;
}

.content ol, .content ul {
  margin: 0 0 10px 0
}

.content table {
  border-collapse: collapse;
}

.content th {
  text-align: left;
  font-size: 1.2em;
}

.content tr:nth-of-type(odd) {
  background-color: var(--content-table-color1);
}

.content tr:nth-of-type(even) {
  background-color: var(--content-table-color2);
}

.content td, .content th {
  padding: 5px;
  vertical-align: top;
}

/*** Non-Tablet Screens ***/
@media all and (min-width: 800px) {
  .main-wrapper {
    margin-left: var(--sidebar-width);
  }
}

@media all and (min-width: 1000px) {
  .no-sidebar.main-wrapper {
    margin-left: 0;
  }
}