@import 'palette'

/* block colors */
content-code-color = gray-color
content-table-color-1 = gray-color-light
content-table-color-2 = gray-color

/* font colors */
content-anchor-color = secondary-color
content-anchor-color-hover = secondary-color-dark
content-heading-color-1 = black-color
content-heading-color-2 = primary-color-dark
content-heading-color-3 = primary-color-darker

/* fonts */
content-code-font = mono-font

/* main */
.main-wrapper
  align-items center
  display flex
  flex-flow column nowrap
  min-height 'calc(100vh - %s)' % header-height
  position relative

.main
  flex 1
  max-width 1350px
  transition all .25s ease-in-out
  width 100%

/* content */
.content
  font-size 1rem
  margin auto
  padding 5px 15px
  width 100%

  h1
    color content-heading-color-1
    font-size 2.2em
    margin 0 0 20px 0

  h2
    border-bottom 1px solid gray-color
    color content-heading-color-2
    font-size 1.6em
    margin 0 0 5px 0

  h3
    color content-heading-color-3
    font-size 1.2em
    margin 0 0 2px 0

  h4
    font-size 1em
    margin 0

  h5
    font-size 1em
    margin 0

  .content h6
    font-size 1em
    margin 0

  p
    margin 0 0 5px 10px;
    code
      display inline-block
      padding 0 3px
      vertical-align bottom

  a
    color content-anchor-color
    &:hover
      color content-anchor-color-hover
      text-decoration none

  b
  strong
    font-weight 600

  blockquote
    font-style italic

  img
    display block
    margin auto
    max-width 100%

  code
    background content-code-color
    border-radius 5px
    display block
    font-family content-code-font, monospace
    overflow-x auto
    padding 10px

  ol
  ul
    margin 0 0 10px 0
    padding 0 0 0 25px

  table
    border-collapse collapse

  th
    background-color white-color
    font-size 1.2em
    text-align left

  tr
    background-color content-table-color-1
    &:nth-of-type(even)
      background-color content-table-color-2

  td
  th
    padding 5px
    vertical-align top

/* media */
@media all and (min-width 600px)
  .content
    width 90%

@media all and (min-width 800px)
  .content
    width 80%

@media all and (min-width 1000px)  
  .main
    width 'calc(100% - %s)' % sidebar-static-width
    margin-left sidebar-static-width
  
  .no-sidebar
    .main
      margin-left 0
  
  .content
    width 90%