@import 'palette'

/* block colors */
nav-background-color = primary-color
nav-border-color = gray-color

/* font colors */
nav-symbol-color = primary-color-darker
nav-hover-color = primary-color-darkest

/* sizes */
sub-icon-size = .75em

/* mixins */
rotate-icon()
  transform translate(-50%, -25%) rotate(-135deg)

/* nav */
.menu-nav
  font-size 1rem

.menu-item
  align-items center
  border-bottom 1px solid nav-border-color
  display flex
  flex-flow row nowrap

.menu-link
  color nav-symbol-color
  display block
  flex 1 0 auto
  font-weight 600
  padding 5px
  position relative
  text-decoration none
  transition all .07s ease-in-out
  width 100%
  &:hover
    color nav-hover-color

.current > .menu-link
  text-decoration underline

.menu-list
  background nav-background-color
  font-size 1.5em
  list-style none
  margin 0
  padding 0

.menu-sub-list
  list-style none
  margin 0
  max-height 0
  padding 0 0 0 10%
  overflow hidden
  transition all .25s ease-in-out
  .menu-item
    font-size .8em
    &:last-of-type
      border-bottom none

.menu-sub-list-open
  .menu-sub-list
    max-height 1000px
  .sub-menu-icon::after
    rotate-icon()

.sub-menu-icon
  background-color transparent
  border none
  cursor pointer
  display block
  height 3em
  overflow hidden
  margin 0
  padding 0
  position relative
  text-indent 10000px
  white-space nowrap
  width sub-icon-size * 4
  &::after
    background transparent
    border-right 2px solid nav-symbol-color
    border-bottom 2px solid nav-symbol-color
    content ''
    display block
    height sub-icon-size
    left 50%
    position absolute
    transform translate(-50%, -75%) rotate(45deg)
    transition all .25s ease-in-out
    top 50%
    width sub-icon-size
  &:hover::after
    background transparent
    border-right 2px solid nav-hover-color
    border-bottom 2px solid nav-hover-color

/* header menu */
.header-menu
  &.menu-nav
    align-self stretch
    display none
  .menu-list
    display flex
    flex-flow row nowrap
    height 100%

  .menu-group
    position relative
    &:hover
      .menu-sub-list
        max-height 1000px
      .sub-menu-icon::after
        rotate-icon()

  .menu-list > .menu-item
  .menu-group > .menu-item
    border-bottom none

  .menu-group > .menu-item
    padding 0

  .menu-item
  .menu-group
    height 100%
    margin-right 5px
    padding-right 5px
    width initial

  .menu-group > .menu-item
    margin-right 0

  .menu-link
    width initial

  .menu-sub-list
    background nav-background-color
    border-bottom 2px solid nav-border-color
    padding-right 10px
    position absolute
    right 0
  
  .sub-menu-icon
    font-size .4em
    height 1.6em
    width 1.6em

/* media */
@media all and (min-width 1200px)
  .header-menu.menu-nav
    display block

  .sidebar-menu.menu-nav
    display none