@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro')
@import url('https://fonts.googleapis.com/css?family=Space+Mono')

/* fonts */
sans-font = 'Source Sans Pro'
mono-font = 'Space Mono'

/* basic colors */
black-color = rgb(26, 26, 26)
gray-color = rgba(0,0,0,0.10)
gray-color-light = rgba(0,0,0,0.02)
white-color = rgb(251, 252, 252)

/* primary colors */
primary-color = rgb(31, 223, 185)
primary-color-light = lighten(primary-color, 33%)
primary-color-lighter = lighten(primary-color-light, 33%)
primary-color-lightest = lighten(primary-color-lighter, 33%)
primary-color-dark = darken(primary-color, 33%)
primary-color-darker = darken(primary-color-dark, 33%)
primary-color-darkest = darken(primary-color-darker, 33%)

/* secondary colors */
secondary-color = primary-color + 120deg
secondary-color-light = lighten(secondary-color, 33%)
secondary-color-lighter = lighten(secondary-color-light, 33%)
secondary-color-lightest = lighten(secondary-color-lighter, 33%)
secondary-color-dark = darken(secondary-color, 33%)
secondary-color-darker = darken(secondary-color-dark, 33%)
secondary-color-darkest = darken(secondary-color-darker, 33%)

/* sizes */
header-height = 3rem
min-page-width = 300px
sidebar-width = 80%
sidebar-static-width = 320px