/* Variables */

:root {
  /*Sizes*/
  --sidebar-width: 80%;
}

.sidebar {
  /*Block colors*/
  --sidebar-background-color: var(--light-green-background);
  --sidebar-shadow-color: var(--gray-background);
  
  /*Font colors*/
  --sidebar-symbol-color: var(--dark-green-font);
  --sidebar-hover-color: var(--lighter-green-font);
}

/* Sidebar */

.sidebar {
  background: var(--sidebar-background-color);
  box-shadow: 5px 0 5px var(--sidebar-shadow-color);
  font-size: 1.5rem;
  height: calc(100% - var(--header-height));
  left: calc(-1 * var(--sidebar-width));
  overflow-y: auto;
  position: fixed;
  top: var(--header-height);
  transition: all .25s ease-in-out;
  width: var(--sidebar-width);
  z-index: 2;
}

.sidebar-mask {
  background: var(--sidebar-shadow-color);
  height: calc(100% - var(--header-height));
  left: 0;
  position: fixed;
  top: var(--header-height);
  width: 100%;
  z-index: 1;
}

.sidebar-open .sidebar {
  left: 0px;
  display: block;
}

/* Sidebar Nav */

.sidebar-header {
  font-size: 1.4em;
  margin: 0;
}

.sidebar-group-header {
  font-size: 1.05em;
  margin: 0;
}

.sidebar-list {
  color: var(--sidebar-symbol-color);
  list-style: none;
  margin: 0;
  padding-left: 5px;
}

.sidebar-list-wrapper {
  padding: 10px;
}

.sidebar-link {
  color: var(--sidebar-symbol-color);
  text-decoration: none;
}

.sidebar-link:hover {
  color: var(--sidebar-hover-color);
}

.sidebar-sub-list {
  list-style: none;
  padding-left: 20px;
}

.current>.sidebar-link {
  text-decoration: underline;
}

/*** Non-Mobile ***/

@media all and (min-width: 400px) {
  :root {
    --sidebar-width: 320px;
  }
}

/*** Non-Tablet ***/

@media all and (min-width: 800px) {
  .sidebar {
    left: 0;
  }
}

@media all and (min-width: 1000px) {
  .no-sidebar .sidebar {
    display: none;
  }
}